body {
    text-align: center;
}
ul {
    padding:0;
    list-style-type: none;
}
li {
}
#sources {
    display:block;
}
video, canvas {
    margin:auto;
}
#image_source, #image_sweater {
    display:inline;
}
button {
    margin:1ex auto;
    display:block;
}
#sources {
    padding:4ex 0;
}